<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
   <mapper namespace="com.kh.carlpion.mypage.model.dao.MypageMapper">
  
  <!-- 댓글 조회  -->
 	<select id="replyCheck"
 			resultType="com.kh.carlpion.mypage.model.dto.BoardDTO">
 	
 			
 		SELECT * FROM (
 			SELECT	
 					N.TITLE AS title,
 					N.COUNT AS count,
 					N.CREATE_DATE AS createDate,
 					C.COMMENT_NO AS commentNo,
 					C.CONTENT AS content
 					
 			 FROM
 			 		CP_NOTICE N
 		 	JOIN
 		 			CP_NT_COMMENT C	ON N.NOTICE_NO = C.NOTICE_NO
 		 	
 		    WHERE
 		    		N.USER_NO = #{userNo}
 		    
 		    UNION
 		    
 		    SELECT	
 					R.TITLE AS title,
 					R.COUNT AS count,
 					R.CREATE_DATE AS createDate,
 					V.COMMENT_NO AS commentNo,
 					V.CONTENT AS content
 			FROM
 					CP_REVIEW R
 			JOIN
 					CP_RV_COMMENT V ON R.REVIEW_NO = V.REVIEW_NO
 			WHERE
 					R.USER_NO = #{userNo}		
 		    )		
 		    		
 			 ORDER
 		       BY
 					createDate DESC
 						
 	
 	</select>
 	
 	 <!-- 신고/문의 게시판 조회  -->
 	
 	
 	 <select id="inquiryCheck"
  		   resultType="com.kh.carlpion.mypage.model.dto.BoardDTO">
  		   
		  SELECT
		        R.REPORT_NO reportNo,
		        R.TITLE title,
		        R.CREATE_DATE createDate,
		        R.COUNT count,
		        F.FILE_URL fileUrl
		  FROM
		        CP_REPORT R
		  JOIN
		        CP_RP_FILE F ON R.REPORT_NO = F.REPORT_NO
		
		  WHERE 
		        USER_NO = #{userNo}
		  ORDER BY
		        R.CREATE_DATE DESC
  
 	</select>
 	
 	<!-- 리뷰 게시판 조회  -->
 	
 	<select id="reviewCheck"
			resultType="com.kh.carlpion.mypage.model.dto.BoardDTO">
	
		 SELECT
		        R.REVIEW_NO reviewNo,
		        R.TITLE title,
		        R.CREATE_DATE createDate,
		        R.COUNT count,
		        F.FILE_URL fileUrl
		  FROM
		       	CP_REVIEW R
		  JOIN
		        CP_RV_FILE F ON R.REVIEW_NO = F.REVIEW_NO
		  WHERE 
		        R.USER_NO = #{userNo}
		 ORDER 
		 	BY
		        R.CREATE_DATE DESC
	 	
	</select>
 	 
	<!-- 포인트 조회  -->
	
<select id="pointCheck"
		resultType="com.kh.carlpion.mypage.model.dto.PointDTO">
	SELECT *
	FROM (
		SELECT ROWNUM AS RN, sub_result.*
		FROM (
			SELECT
				H.HISTORY_NO historyNo,
				R.REVIEW_NO reviewNo,
				U.USERNAME userName,
				U.REALNAME realName,
				P.USER_LEVEL userLevel,
				H.REASON reason, 
				H.POINT_CHANGE pointChange,
				P.POINT point,
				H.CREATE_DATE createDate
			FROM 
				CP_POINT_HISTORY H
			JOIN 
				CP_POINT P ON H.USER_NO = P.USER_NO
			JOIN
				 CP_USER U ON P.USER_NO = U.USER_NO
			JOIN
				 CP_REVIEW R ON  R.USER_NO = R.USER_NO
			WHERE 
				U.USER_NO = #{userNo}
			ORDER 
				BY H.CREATE_DATE DESC
		) sub_result
		WHERE ROWNUM <![CDATA[<=]]> #{endRow}
	)
	WHERE RN > #{startRow}
</select>

	<select id="pointCheckCount" resultType="int">
		
	  	SELECT
	  			 COUNT(*)
	  	  FROM
	  			 CP_POINT_HISTORY
	  	 WHERE
	  			 USER_NO = #{userNo}
	  			 
	</select>





	<select id="reservations"
			resultType="com.kh.carlpion.mypage.model.dto.ReservationsDTO">
			
 	SELECT
 			R.CAR_NO carNo,
 			R.RENTAL_DATE rentalDate,
 			R.RETURN_DATE returnDate,
 			R.PAYMENT_COMPLETED_AT paymentCompletedAt,
 			R.TOTAL_PRICE totalPrice,
 			R.STATUS status,
 			R.RESERVATION_ID reservationId,
 			C.MODEL_NO modelNo,
 			D.CAR_MODEL carModel,
 			I.PARKING_ID parkingId,
 			I.PARKING_TITLE title,
 			I.PARKING_ADDR parkingAddr,
 			C.CAR_ID carId
 	FROM
 			CP_RENTAL_RESERVATION R
 	JOIN
 			CP_RENTAL_CAR C ON R.CAR_NO = C.CAR_NO
 	JOIN
 			CP_RENTAL_CAR_MODEL D ON C.MODEL_NO = D.MODEL_NO
 	JOIN
 			CP_PARKING_INFO I ON C.PARKING_ID = I.PARKING_ID
 	
 	WHERE
 			R.USER_NO = #{userNo}
 	  AND
 			R.RETURN_DATE &lt; SYSDATE	
 	ORDER
 		BY
 			RENTAL_DATE DESC
 			
 	</select>
 	
 	<select id="usedCars"
			resultType="com.kh.carlpion.mypage.model.dto.ReservationsDTO">
			
 	SELECT
 			R.CAR_NO carNo,
 			R.RENTAL_DATE rentalDate,
 			R.RETURN_DATE returnDate,
 			R.TOTAL_PRICE totalPrice,
 			R.PAYMENT_COMPLETED_AT paymentCompletedAt,
 			C.MODEL_NO modelNo,
 			D.CAR_MODEL carModel,
 			I.PARKING_ID parkingId,
 			I.PARKING_TITLE title,
 			I.PARKING_ADDR parkingAddr
 	FROM
 			CP_RENTAL_RESERVATION R
 	JOIN
 			CP_RENTAL_CAR C ON R.CAR_NO = C.CAR_NO
 	JOIN
 			CP_RENTAL_CAR_MODEL D ON C.MODEL_NO = D.MODEL_NO
 	JOIN
 			CP_PARKING_INFO I ON C.PARKING_ID = I.PARKING_ID
 	
 	WHERE
			U.USER_NO = #{userNo} 	
 	ORDER
 		BY
 			RENTAL_DATE DESC
 		
 	
 	</select>
 	
 	
   </mapper>
  
  