<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="com.kh.carlpion.mypage.model.dao.MypageMapper">

	<update id="updateNickName"
			parameterType="com.kh.carlpion.mypage.model.dto.MypageDTO">
			UPDATE 
					 CP_USER 
			   SET
					 NICKNAME = #{nickName}
					 
			  WHERE  USER_NO = #{userNo}
	</update>
	
	<select id="checkNickName"
			parameterType="com.kh.carlpion.mypage.model.dto.MypageDTO"
			resultType="_int">
			SELECT COUNT(*)
			  FROM CP_USER
			 WHERE NICKNAME = #{nickName}
	
	</select>
	
	<select id="selectNickName"
				parameterType="com.kh.carlpion.mypage.model.dto.MypageDTO"
				resultType="com.kh.carlpion.mypage.model.dto.MypageDTO">
		
			SELECT 
					NICKNAME nickname
			FROM
					CP_USER
			WHERE
					USER_NO = #{userNo}
	
	
	
	</select>
	
	
	<update id="updatePassword"
			parameterType="com.kh.carlpion.mypage.model.dto.MypageDTO">
		
			UPDATE
					CP_USER
			   SET
					PASSWORD = #{modifyPw}
			 WHERE 
					USER_NO = #{userNo}
	</update>
	
	<select id="passowordCheck"
				parameterType="long"
				resultType="string">
	
			SELECT
					PASSWORD password
			FROM
					CP_USER
			WHERE
					USER_NO = #{userNo}
					
	</select>
	
	
	<update id="updateEmail"
			parameterType="com.kh.carlpion.mypage.model.dto.MypageDTO">
		
			UPDATE
					CP_USER
			   SET
					EMAIL = #{email}
			 WHERE 
					USER_NO = #{userNo}
			 
	</update>
	
	<select id="checkEmail"
			parameterType="com.kh.carlpion.mypage.model.dto.MypageDTO"
			resultType="_int">
			SELECT COUNT(*)
			  FROM CP_USER
			 WHERE EMAIL = #{email}
	
	</select>
	

	
	<select id="getUserInfo"
				parameterType="com.kh.carlpion.mypage.model.dto.MypageDTO"
				resultType="com.kh.carlpion.mypage.model.dto.MypageDTO">
				
			SELECT 
					REALNAME realName,
					EMAIL email,
					FILE_URL fileUrl
			FROM 
					CP_USER
			WHERE 
					USER_NO = #{userNo}
	
	
	</select>
	
	<update id="updateProfile"
			parameterType="com.kh.carlpion.mypage.model.dto.MypageDTO">
		
			UPDATE
					CP_USER
			   SET
			   		FILE_URL = #{fileUrl}
			 WHERE 
			 		USER_NO = #{userNo}
			
	</update>
	
	
	
	<update id="updateName"
			parameterType="com.kh.carlpion.mypage.model.dto.MypageDTO">
		
			UPDATE
					CP_USER
			   SET
			  		REALNAME = #{realName},
			  		EMAIL = #{email}
			 WHERE
			 		USER_NO = #{userNo}
			   
	
	</update>

	<delete id="deleteUser">
			DELETE
			  FROM
					CP_USER
			 WHERE
			 		USER_NO = #{userNo}
	</delete>


</mapper>