<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.carlpion.report.model.dao.ReportMapper">
	<insert 
		id="save"
		parameterType="com.kh.carlpion.report.model.vo.ReportVO"
		useGeneratedKeys="true"
		keyProperty="reportNo"
		keyColumn="REPORT_NO"
	>
		INSERT 
		  INTO	
		  		CP_REPORT
		  	 (
			 	USER_NO
			 ,	TITLE
			 , 	CONTENT
			 , 	CREATE_DATE
			 )
		VALUES 
			 (
			   	#{userNo}
			 , 	#{title} 	
			 , 	#{content} 	
			 , 	SYSDATE 	
			 )
	</insert>
	<insert 
		id="saveFile"
		parameterType="com.kh.carlpion.report.model.vo.ReportVO"
	>
		INSERT
		  INTO	
		  		CP_RP_FILE
		  	 (
				REPORT_NO
			 ,	FILE_URL
			 )
		VALUES
			 (
				#{reportNo}
			 ,	#{fileUrl}
			 )
	</insert>
	
	<select 
		id="findAll" 
		resultType="com.kh.carlpion.report.model.dto.ReportDTO"
	>
		SELECT 
				REPORT_NO	AS	reportNo
			 ,	USER_NO		AS	userNo
			 ,	TITLE		AS	title
			 ,	CONTENT		AS	content
			 ,	CREATE_DATE	AS	createDate
			 ,	COUNT
		  FROM
		  		CP_REPORT r
		  JOIN
		  		CP_USER u 	ON 	u.USER_NO = r.USER_NO
		  JOIN
		  		CP_POINT p 	ON 	p.USER_NO = r.USER_NO	
		 WHERE	
		 		IS_ACTIVE = 'Y'
		 ORDER
		 	BY	
		 		REPORT_NO 	DESC
		   	 , 	POINT 		DESC
           	 ,  USER_LEVEL 	DESC
	</select>
	<select 
		id="findById" 
		parameterType="long"
		resultType="com.kh.carlpion.report.model.dto.ReportDTO"
	>
		SELECT 
				REPORT_NO	AS	reportNo
			 ,	USER_NO		AS	userNo
			 ,	TITLE		AS	title
			 ,	CONTENT		AS	content
			 ,	CREATE_DATE	AS	createDate
			 ,	COUNT
			 ,	POINT
			 ,	USER_LEVEL
		  FROM
		  		CP_REPORT r
		  JOIN
		  		CP_USER u 	ON 	u.USER_NO = r.USER_NO
		  JOIN
		  		CP_POINT p 	ON 	p.USER_NO = r.USER_NO
		 WHERE	
		 		IS_ACTIVE = 'Y'
		   AND	
		   		REPORT_NO = #{reportNo} 
	</select>
	
	<update id="updateById">
		UPDATE
				CP_REPORT
		   SET
		   		TITLE = #{title}
		   	 ,	CONTENT = #{content}
		 WHERE	
		 		REPORT_NO = #{reportNo}
	</update>
	<update id="deleteById">
		UPDATE
				CP_REPORT
		   SET
		   		IS_ACTIVE = 'N'
		 WHERE	
		 		REPORT_NO = #{reportNo}
	</update>
	
	<delete id="deleteFileById">
		DELETE
		  FROM
		  		CP_RP_FILE
		 WHERE	
		 		REPORT_NO = #{reportNo}
	</delete>
</mapper>
