<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.carlpion.comment.model.dao.CommentNoticeMapper">
	<insert 
		id="saveNotice"
		parameterType="com.kh.carlpion.comment.model.dto.CommentNoticeDTO"
	>
		INSERT 
		  INTO	CP_NT_COMMENT
		  	 (
				NOTICE_NO
			 ,	USER_NO
			 , 	CONTENT
			 , 	CREATE_DATE
			 )
		VALUES 
			 (
			   	#{noticeNo}
			 , 	#{userNo} 	
			 , 	#{content} 	
			 , 	SYSDATE 	
			 )
	</insert>
	
	<select 
		id="findAllNotice" 
		resultType="com.kh.carlpion.notice.model.dto.CommentNoticeDTO"
	>
		SELECT 
				COMMENT_NO	AS	commentNo
			 ,	NOTICE_NO	AS	noticeNo
			 ,	USER_NO		AS	userNo
			 ,	CONTENT		AS	content
			 ,	CREATE_DATE	AS	createDate
		  FROM
		  		CP_NT_COMMENT c
		  JOIN
		  		CP_USER u 	ON 	u.USER_NO = c.USER_NO
		  JOIN
		  		CP_NOTICE n	ON 	n.NOTICE_NO = c.NOTICE_NO	
		 WHERE	
		 		IS_ACTIVE = 'Y'
		 ORDER
		 	BY	
		 		CREATE_DATE DESC
	</select>
	
	<update id="deleteNoticeById">
		UPDATE
				CP_NOTICE
		   SET
		   		IS_ACTIVE = 'N'
		 WHERE	
		 		NOTICE_NO = #{noticeNo}
	</update>
</mapper>
