<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.carlpion.comment.model.dao.CommentReviewMapper">
	<insert 
		id="saveComment"
		parameterType="com.kh.carlpion.comment.model.vo.CommentReviewVO"
	>
		INSERT 
		  INTO	CP_RV_COMMENT
		  	 (
				REVIEW_NO
			 ,	USER_NO
			 , 	CONTENT
			 )
		VALUES 
			 (
			   	#{reviewNo}
			 , 	#{userNo} 	
			 , 	#{content} 	
			 )
	</insert>
	
	<select 
		id="findAllComment" 
		resultType="com.kh.carlpion.comment.model.dto.CommentReviewDTO"
	>
		SELECT 
				c.COMMENT_NO	AS	commentNo
			 ,	c.REVIEW_NO		AS	reviewNo
			 ,	c.CONTENT
			 ,	u.NICKNAME		AS	nickName
			 ,	c.CREATE_DATE	AS	createDate
		  FROM
		  		CP_RV_COMMENT c
		  JOIN
		  		CP_USER u 	ON	u.USER_NO = c.USER_NO		  		
		 WHERE	
		 		c.IS_ACTIVE = 'Y'
		 ORDER
		 	BY	
		 		c.CREATE_DATE DESC
	</select>
	
	<select 
		id="findByUserNo"
		parameterType="long"
		resultType="long"
	>
		SELECT
				USER_NO		AS	userNo
		  FROM	
		  		CP_RV_COMMENT
		 WHERE
		 		COMMENT_NO = #{commentNo}	  		
	</select>
	<update id="softDeleteCommentById">
		UPDATE
				CP_RV_COMMENT
		   SET
		   		IS_ACTIVE = 'N'
		 WHERE	
		 		COMMENT_NO = #{commentNo}
	</update>
</mapper>
