<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.carlpion.report.model.dao.ReportMapper">
	<insert 
		id="save"
		parameterType="com.kh.carlpion.report.model.vo.ReportVO"
		useGeneratedKeys="true"
		keyProperty="reportNo"
		keyColumn="REPORT_NO"
	>
		INSERT 
		  INTO	
		  		CP_REPORT
		  	 (
			 	USER_NO
			 ,	TITLE
			 , 	CONTENT
			 )
		VALUES 
			 (
			   	#{userNo}
			 , 	#{title} 	
			 , 	#{content} 	
			 )
	</insert>
	<insert 
		id="saveFile"
		parameterType="com.kh.carlpion.report.model.vo.ReportVO"
	>
		INSERT
		  INTO	
		  		CP_RP_FILE
		  	 (
				REPORT_NO
			 ,	FILE_URL
			 )
		VALUES
			 (
				#{reportNo}
			 ,	#{fileUrl}
			 )
	</insert>
	
	<select 
		id="findTotalCount" 
		resultType="_int"
	>
		SELECT
				COUNT(*)
		  FROM
		  		CP_REPORT
		  WHERE
		  		IS_ACTIVE = 'Y'
	</select>
	<select 
		id="findAll" 
		resultType="com.kh.carlpion.report.model.dto.ReportDTO"
	>
		SELECT 
				r.REPORT_NO		AS	reportNo
			 ,	r.TITLE
			 ,	r.CONTENT
			 ,	u.NICKNAME		AS	nickName
			 ,	r.CREATE_DATE	AS	createDate
			 ,	r.COUNT
		  FROM
		  		CP_REPORT r
		  JOIN
		  		CP_USER u 		ON 	u.USER_NO = r.USER_NO
		  JOIN
		  		CP_POINT p 		ON 	p.USER_NO = r.USER_NO
		 WHERE	
		 		r.IS_ACTIVE = 'Y'
		 ORDER
		 	BY	
		 		r.REPORT_NO 	DESC


	</select>
	
	<update id="updateCount">
		UPDATE
				CP_REPORT
		   SET
		   		COUNT = COUNT + 1
		 WHERE
		 		REPORT_NO = #{reportNo}
	</update>	
	<select 
		id="findById" 
		parameterType="long"
		resultType="com.kh.carlpion.report.model.dto.ReportDTO"
	>
		SELECT 
				r.REPORT_NO		AS	reportNo
			 ,	r.TITLE
			 ,	r.CONTENT
			 ,	u.NICKNAME		AS	nickName
			 ,	r.CREATE_DATE	AS	createDate
			 ,	r.COUNT
			 ,	f.FILE_URL		AS	fileUrl
			 ,	p.POINT
			 ,	p.USER_LEVEL	AS	userLevel
		  FROM
		  		CP_REPORT r
		  JOIN
		  		CP_USER u 		ON 	u.USER_NO = r.USER_NO
		  JOIN
		  		CP_POINT p 		ON 	p.USER_NO = r.USER_NO
		  LEFT JOIN
		  		CP_RP_FILE f 	ON 	f.REPORT_NO = r.REPORT_NO
		 WHERE	
		 		r.IS_ACTIVE = 'Y'
		   AND	
		   		r.REPORT_NO = #{reportNo} 
	</select>
	
	<select 
		id="findByUserNo"
		parameterType="long"
		resultType="long"
	>
		SELECT
				USER_NO		AS	userNo
		  FROM	
		  		CP_REPORT
		 WHERE
		 		REPORT_NO = #{reportNo}		  		
	</select>
	<update 
		id="updateById"
		parameterType="com.kh.carlpion.report.model.vo.ReportVO"
	>
		UPDATE
				CP_REPORT
		   SET
		   		TITLE = #{title}
		   	 ,	CONTENT = #{content}
		 WHERE	
		 		REPORT_NO = #{reportNo}
	</update>
	<update id="softDeleteById">
		UPDATE
				CP_REPORT
		   SET
		   		IS_ACTIVE = 'N'
		 WHERE	
		 		REPORT_NO = #{reportNo}
	</update>
	
	<select 
		id="findFileByAll"
		resultType="string"
	>
		SELECT 
				FILE_URL	AS	fileUrl
		  FROM	
		  		CP_RP_FILE
		 WHERE	
		 		REPORT_NO = #{reportNo}
	</select>
	<delete id="deleteFileById">
		DELETE
		  FROM
		  		CP_RP_FILE
		 WHERE	
		 		REPORT_NO = #{reportNo}
	</delete>
</mapper>
