<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.carlpion.user.model.dao.UserMapper">
	<select id="selectUserByUsername"
			parameterType="string"
			resultType="com.kh.carlpion.user.model.dto.UserDTO">
		SELECT
			USER_NO userNo,
			USERNAME,
			PASSWORD,
			NICKNAME,
			REALNAME,
			EMAIL,
			ROLE
		FROM
			CP_USER
		WHERE
			USERNAME = #{username}
	</select>
	
	<select id="selectUserByNickname"
			parameterType="string"
			resultType="com.kh.carlpion.user.model.dto.UserDTO">
		SELECT
			USER_NO userNo,
			USERNAME,
			PASSWORD,
			NICKNAME,
			REALNAME,
			EMAIL,
			ROLE
		FROM
			CP_USER
		WHERE
			NICKNAME = #{nickname}
	</select>
	
	<select id="selectUserByEmail"
			parameterType="string"
			resultType="com.kh.carlpion.user.model.dto.UserDTO">
		SELECT
			USER_NO userNo,
			USERNAME,
			PASSWORD,
			NICKNAME,
			REALNAME,
			EMAIL,
			ROLE
		FROM
			CP_USER
		WHERE
			EMAIL = #{email}
	</select>
	
	<select id="selectSocialUserByCompositePK"
			parameterType="com.kh.carlpion.auth.model.dto.SocialDTO"
			resultType="com.kh.carlpion.auth.model.dto.SocialDTO">
		SELECT
			SOCIAL_ID socialId,
			PLATFORM,
			NICKNAME,
			REALNAME,
			EMAIL,
			ROLE,
			CREATE_DATE createDate,
			IS_ACTIVE isActive
		FROM
			CP_USER_SOCIAL
		WHERE
			SOCIAL_ID = #{socialId}
		AND
			PLATFORM = #{platform}
	</select>
	
	<select id="selectSocialUserByNickname"
			parameterType="string"
			resultType="com.kh.carlpion.auth.model.dto.SocialDTO">
		SELECT
			SOCIAL_ID socialId,
			PLATFORM,
			NICKNAME,
			REALNAME,
			EMAIL,
			ROLE,
			CREATE_DATE createDate,
			IS_ACTIVE isActive
		FROM
			CP_USER_SOCIAL
		WHERE
			NICKNAME = #{nickname}
	</select>

	<insert id="signUp"
			parameterType="com.kh.carlpion.user.model.vo.UserVO">
		INSERT INTO
			CP_USER
			(
				USERNAME,
				PASSWORD,
				NICKNAME,
				REALNAME,
				EMAIL,
				ROLE,
				CREATE_DATE,
				IS_ACTIVE
			)
		VALUES
			(
				#{username},
				#{password},
				#{nickname},
				#{realname},
				#{email},
				DEFAULT,
				DEFAULT,
				DEFAULT
			)
	</insert>
	
		<insert id="signUpBySocial"
			parameterType="com.kh.carlpion.auth.model.dto.SocialDTO">
		INSERT INTO
			CP_USER_SOCIAL
			(
				SOCIAL_ID,
				PLATFORM,
				NICKNAME,
				REALNAME,
				EMAIL,
				ROLE,
				CREATE_DATE,
				IS_ACTIVE
			)
		VALUES
			(
				#{socialId},
				#{platform},
				#{nickname},
				#{realname},
				#{email},
				DEFAULT,
				DEFAULT,
				DEFAULT
			)
	</insert>
</mapper>
